{% extends 'partials/_master.twig' %}

{% block main %}

    <form action="/signupStudent" method="post" name="signupStudent">
        <label for="username">Student nummer:</label><br>
        <input type="number" id="username" name="studentnummer" value="" />
        <br>
        <label for="name">Naam:</label><br>
        <input type="text" id="name" name="naam" value="" />
        <br>
        <label for="kilometer">Hoeveel kilometer leef je van het GLR:</label><br>
        <input type="number" id="kilometer" name="kilometer" placeholder="Zoek desnoods op via Google Maps" />
        <br>
        <label for="minuten">Hoe lang doe je er over om van huis naar het GLR te reizen:</label><br>
        <input type="number" id="minuten" name="minuten" placeholder="Antwoord in minuten" />
        <br>
        <label for="vervoer">Welke vervoersmiddelen gebruik je om naar het GLR te reizen:</label><br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Trein">
            Trein
        </label>
        <br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Tram">
            Tram
        </label>
        <br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Metro">
            Metro
        </label>
        <br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Bus">
            Bus
        </label>
        <br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Auto">
            Auto
        </label>
        <br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Fiets">
            Fiets
        </label>
        <br>
        <label>
            <input type="checkbox" name="vervoer[]" value="Lopen">
            Lopen
        </label>
        <br>
        <label for="startLes">Wat vind je van de begintijd van de lessen (8:15 uur):</label><br>
        <select name="startLes" id="startLes">
            <option>Te vroeg</option>
            <option>Goed</option>
            <option>Te laat</option>
        </select>
        <br>
        <label for="eindLes">Wat vind je van de eindtijd van de lessen (17:15 uur):</label><br>
        <select name="eindLes" id="eindLes">
            <option>Te vroeg</option>
            <option>Goed</option>
            <option>Te laat</option>
        </select>
        <br>
        <label for="extra">Heb je verder nog opmerkingen over het reizen naar het GLR:</label>
        <input type="text" id="extra" name="extra" />
        <br>

        <label for="submit">Submit:</label> <br>
        <input type="submit" id="submit" name="submit" />
    </form>

{% endblock main %}
