{% extends 'partials/_master.twig' %}
{% block main %}

    <h1 class="title-thanks">Dankjewel voor je antwoord!</h1>

    <p>Wil je nog iets aanpassen? Dan kan dat <a href="/">hier</a></p>

{% endblock %}
