<form action="{{ path('bolt_login') }}" method="post">
    <div>
        <h2>Log hier in met je school account</h2>
    </div>
    <div>
        <label>Student nummer</label><br>
        <input type="text" name="login[username]">
    </div>
    <div>
        <label>Wachtwoord</label><br>
        <input name="login[password]" type="password">
    </div>

    <button type="submit">Log in</button>
    <input type="hidden" name="login[_token]" value="{{ csrf_token('login_csrf_token') }}">
    <input type="hidden" name="_target_path" value="/">
</form>

<p>Kom je hier voor het eerst? Maak dan <a href="page/register">hier</a> een account aan!</p>
