html {
    --bg: #ffff;
    background: var(--bg) !important;
}

header {
    background-color: #8ee508 !important;
    color: #000000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

header .header-image {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1.25rem;
    background: #969696;
    border-radius: 20px;
}

form select,
form input[type="text"],
form input[type="submit"],
form input[type="number"],
form input[type="password"] {
    width: 100%;
}

.title-thanks {
    background: #8ee508;
    opacity: 0.5;
    border-radius: 10px;
    border: #0b2e13 2px solid;
    padding: 10px;
    color: black;
}


